h1 {
    color: seagreen;
    font-family: Arial;
    background: purple;
}

p {
    font-size: 30px;
    background: lightgreen;
    width: 400px;

}

div{
    font-size: 40px;
    background: lightsteelblue;
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 10px solid blue;
    margin: 40px;
}

h4 {
    font-size: 50px;
    background: orange;
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 10px solid grey;
    margin: 0 auto;
    text-align: center;
}